.DS_Store
*.pyc
*.pyo
*.swp
.env
env
env*
venv
dist
build
*.egg
*.egg-info
_mailinglist
dump.rdb
.tox
.cache/
.idea/
db.sqlite3
migrations/
*.log
host_rsa_key
*.bat
tags
jumpserver.iml
.python-version
tmp/*
sessions/*
media
celerybeat.pid
django.db
celerybeat-schedule.db
data/static
docs/_build/
xpack
env/
.idea
*.pyc
*.pyo
.access_key
*.log
logs/*
host_rsa_key
sessions/*
coco.pid
jumpserver
coco
luna.tar.gz
docker-guacamole
