version: '2.4'

services:
  core:
    image: registry.fit2cloud.com/jumpserver/core-ee:${VERSION}

  celery:
    image: registry.fit2cloud.com/jumpserver/core-ee:${VERSION}

  koko:
    image: registry.fit2cloud.com/jumpserver/koko:${VERSION}

  lion:
    image: registry.fit2cloud.com/jumpserver/lion:${VERSION}

  magnus:
    image: registry.fit2cloud.com/jumpserver/magnus:${VERSION}
    ports:
      - ${MAGNUS_POSTGRESQL_PORT:-54320}:54320
      - ${MAGNUS_ORACLE_PORTS:-30000-30030}:${MAGNUS_ORACLE_PORTS:-30000-30030}

  chen:
    image: registry.fit2cloud.com/jumpserver/chen:${VERSION}

  kael:
    image: registry.fit2cloud.com/jumpserver/kael:${VERSION}

  web:
    image: registry.fit2cloud.com/jumpserver/web:${VERSION}

  razor:
    image: registry.fit2cloud.com/jumpserver/razor:${VERSION}
    container_name: jms_razor
    hostname: jms_razor
    ulimits:
      core: 0
    restart: always
    tty: true
    environment:
      CORE_HOST: http://core:8080
      BOOTSTRAP_TOKEN: $BOOTSTRAP_TOKEN
      LOG_LEVEL: $LOG_LEVEL
    ports:
      - ${RDP_PORT}:3389
    volumes:
      - ${VOLUME_DIR}/razor/data:/opt/razor/data
      - ${CONFIG_DIR}/nginx/cert:/opt/razor/cert
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "ps axu | grep -v 'grep' | grep 'razor'"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  xrdp:
    image: registry.fit2cloud.com/jumpserver/xrdp:${VERSION}
    container_name: jms_xrdp
    hostname: jms_xrdp
    ulimits:
      core: 0
    restart: always
    tty: true
    environment:
      CORE_HOST: http://core:8080
      BOOTSTRAP_TOKEN: $BOOTSTRAP_TOKEN
      LOG_LEVEL: $LOG_LEVEL
    ports:
      - ${XRDP_PORT:-3390}:3390
    volumes:
      - ${VOLUME_DIR}/xrdp/data:/opt/xrdp/data
      - ${CONFIG_DIR}/nginx/cert:/opt/xrdp/cert
    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test: "nc -z 127.0.0.1 3390 || exit 1"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net

  video:
    image: registry.fit2cloud.com/jumpserver/video-worker:${VERSION}
    container_name: jms_video
    hostname: jms_video
    cpus: 1
    ulimits:
      core: 0
    restart: always
    tty: true
    environment:
      CORE_HOST: http://core:8080
      BOOTSTRAP_TOKEN: $BOOTSTRAP_TOKEN
      LOG_LEVEL: $LOG_LEVEL
    volumes:
      - ${VOLUME_DIR}/video/data:/opt/video-worker/data
    healthcheck:
      test: "curl -fsL http://localhost:9000/video-worker/health/ > /dev/null"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - net